.table {
    font-size: 0.9rem;
}

.table td{
    vertical-align: middle;
}

.table > :not(:last-child) > :last-child > *{
    border-bottom: 2px solid darkgray;
    color: darkgray;
}

.card-header {
    margin-bottom: 15px;
}

.actions-row {
    width: 100px;
    border-left: 2px dotted rgb(222, 226, 230);
}

.id-header,
.paid-date-header {
    width: 70px;
    text-align: center;
}

.paid-date-row {
    text-align: center;
}

.paid-date-row span {
    font-size: 0.77rem;
    background-color: darkgray;
    padding: 2px 4px;
    border-radius: 4px;
    color: white;
}

.cost-type-header {
    width: 130px;
    text-align: left;
 }

.cost-value-header {
    width: 120px;
    text-align: center;
    padding-right: 15px;
}

.cost-value-row {
    text-align: center;
    padding-right: 15px;
}

.cost-value-row span {
    font-weight: bold;
    font-size: 1rem;
    margin-right: 5px;
}

.id-row {
    color: #777;
}

.title-overall-info{
    font-style: italic;
    font-size: 1rem;
    background-color: green;
    padding: 2px 4px;
    border-radius: 4px;
    color: #eee;
}

.normal {
    background-color: aliceblue;
}
