
<div class="col">
    <button class="btn btn-outline-info" @onclick="HandelPrevious">Prev</button>  
    <button class="btn btn-outline-info" @onclick="HandelNext">Next</button>
</div>

@code {
    [Parameter] public EventCallback<int> Pagination { get; set; }


    [Parameter]
    public int PageSize { get; set; }

    [Parameter]
    public int TotalItems { get; set; }

    private int pageOffset = 0;


    private void HandelPrevious()
    {
        pageOffset = Math.Max(pageOffset - PageSize, 0);
        Pagination.InvokeAsync(pageOffset);
    }

    private void HandelNext()
    {
        pageOffset = Math.Min(pageOffset + PageSize, TotalItems);
        Pagination.InvokeAsync(pageOffset);
    }
}
