@using Pds.Web.Common
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Pds.Api.Contracts.Controllers.Client

@namespace Pds.Web.Pages.Clients.Components

@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject IApiClient ApiClient
@inject IAccessTokenProvider TokenProvider

<div class="panel panel-default actions-panel">
    @{
        var buttonClass = WithLabels ? "btn with-label" : "btn btn-sm";
    }
    <button title="Редактировать" class="@buttonClass btn-primary" @onclick="OnEdit">
        <i class="bi bi-pencil-fill"></i>
        @if (WithLabels)
        {
            <span>Редактировать</span>
        }
    </button>

    @if (CurrentClient.BillsCount == 0)
    {
        <button title="Удалить" class="@buttonClass btn-danger" @onclick="OnDelete">
            <i class="bi bi-trash-fill"></i>
                                          @if (WithLabels)
        {
            <span>Удалить</span>
        }
    </button>
    }
</div>

@code {
    [Parameter]
    public EventCallback OnActionsUpdate { get; set; }
    [Parameter]
    public IActionsClient CurrentClient { get; set; }
    [Parameter]
    public bool WithLabels { get; set; }

    private void OnEdit()
    {
        NavigationManager.NavigateTo($"/clients/{CurrentClient.Id}/edit");
    }

    private async Task OnDelete()
    {
        var confirmed = await JsRuntime.InvokeAsync<bool>("confirm", $"Уверены, что хотите удалить {CurrentClient.Name}?");
        if (confirmed)
        {
            await ApiClient.Delete<object>(TokenProvider, $"clients/{CurrentClient.Id}");
            await OnActionsUpdate.InvokeAsync(); // Update UI
        }
    }
}