.info {
    margin-bottom: 15px;
    border-bottom: 2px solid beige;
    padding-bottom: 15px;
}

.statistics-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.brand-city-statistics{
    display: block;
    margin: 0 15px 15px 0;
    border-radius: 10px;
    background-color: bisque;
    min-width: 230px;
}

.brand-city-statistics ul,
.brand-money-statistics ul {
    margin-bottom: 0;
}

.brand-city-statistics-title,
.brand-content-statistics-title,
.brand-money-statistics-title {
    display: block;
    margin: 5px 10px;
    border-radius: 0;
    color: black;
    text-align: center;
    padding: 5px 0px;
    border-bottom: 2px dotted white;
    font-size: 0.89em;
    font-weight: bold;
}

.brand-city-statistics-body {
    padding: 0 15px 10px 15px;
    display: block;
    margin: 0px 15px;
}

.brand-city-statistics-body .city-name {
    font-size: 0.89rem;
    background-color: white;
    padding: 0px 4px;
    border-radius: 4px;
    width: 120px;
    display: inline-block;
    text-align: center;
}

.brand-city-statistics-body .persons-count {
    font-size: 0.89rem;
    background-color: cornflowerblue;
    color: white;
    padding: 0px 4px;
    border-radius: 4px;
    width: 70px;
    display: inline-block;
    text-align: center;
}

.brand-money-statistics{
    display: block;
    margin: 0 15px 15px 0;
    border-radius: 10px;
    background-color: gainsboro;
    min-width: 230px;
}

.brand-money-statistics-body {
    padding: 0 15px 10px 15px;
    display: block;
    margin: 0px 15px;
}

.brand-money-statistics-body .month {
    font-size: 0.89rem;
    background-color: white;
    padding: 0px 4px;
    border-radius: 4px;
    width: 120px;
    display: inline-block;
    text-align: center;
}

.brand-money-statistics-body .costs-sum {
    font-size: 0.89rem;
    background-color: lightcoral;
    padding: 0px 4px;
    border-radius: 4px;
    color: white;
    width: 50px;
    display: inline-block;
    text-align: center;
}

.brand-money-statistics-body .bills-sum {
    font-size: 0.89rem;
    background-color: green;
    padding: 0px 4px;
    border-radius: 4px;
    color: white;
    width: 50px;
    display: inline-block;
    text-align: center;
}

.brand-money-statistics-body .small-title {
    display: inline-block;
    width: 45px;
}

.brand-content-statistics{
    display: block;
    margin: 0 15px 15px 0;
    border-radius: 10px;
    background-color: lavender;
    min-width: 230px;
}

.brand-content-statistics-body {
    padding: 0 15px 10px 15px;
    display: block;
    margin: 0px 15px;
}

.brand-content-statistics-body .content-date {
    font-size: 0.89rem;
    background-color: white;
    padding: 0px 4px;
    border-radius: 4px;
    width: 70px;
    display: inline-block;
    text-align: center;
}

.brand-content-statistics-body .content-type {
    font-size: 0.89rem;
    background-color: cornflowerblue;
    padding: 0px 4px;
    border-radius: 4px;
    color: white;
    display: inline-block;
    width: 73px;
    text-align: center;
    margin-right: 5px;
}

.brand-content-statistics-body .active-not-paid {
    border-color: lightpink;
}

.brand-content-statistics-body .active-paid {
    border-color: lightgreen;
}

.brand-content-statistics-body .free {
    border-color: lightblue;
}