.info {
    margin-bottom: 15px;
    border-bottom: 2px solid beige;
    padding-bottom: 15px;
}

.statistics-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.brand-city-statistics{
    display: block;
    margin: 0 15px 15px 0;
    border-radius: 10px;
    background-color: lightblue;
    min-width: 230px;
}

.brand-city-statistics ul,
.brand-money-statistics ul {
    margin-bottom: 0;
}

.brand-city-statistics-title {
    display: block;
    margin: 10px 10px;
    border-radius: 6px;
    background-color: lightgoldenrodyellow;
    color: black;
    text-align: center;
    padding: 5px 0px;
}

.brand-city-statistics-body {
    padding: 0 15px 10px 15px;
    display: block;
    margin: 0px 15px;
}

.brand-money-statistics{
    display: block;
    margin: 0 15px 15px 0;
    border-radius: 10px;
    background-color: lightgray;
    min-width: 230px;
}

.brand-money-statistics-title {
    display: block;
    margin: 10px 10px;
    border-radius: 6px;
    background-color: lightgoldenrodyellow;
    color: black;
    text-align: center;
    padding: 5px 0px;
}

.brand-money-statistics-body {
    padding: 0 15px 10px 15px;
    display: block;
    margin: 0px 15px;
}

.brand-money-statistics-body .month {
    font-size: 0.89rem;
    background-color: white;
    padding: 2px 4px;
    border-radius: 4px;
}

.brand-money-statistics-body .costs-sum {
    font-size: 0.89rem;
    background-color: lightcoral;
    padding: 2px 4px;
    border-radius: 4px;
    color: white;
}

.brand-money-statistics-body .bills-sum {
    font-size: 0.89rem;
    background-color: green;
    padding: 2px 4px;
    border-radius: 4px;
    color: white;
}

.brand-money-statistics-body .small-title {
    display: inline-block;
    width: 45px;
}

.brand-content-statistics{
    display: block;
    margin: 0 15px 15px 0;
    border-radius: 10px;
    background-color: lavender;
    min-width: 230px;
}

.brand-content-statistics-title {
    display: block;
    margin: 10px 10px;
    border-radius: 6px;
    background-color: lightgoldenrodyellow;
    color: black;
    text-align: center;
    padding: 5px 0px;
}

.brand-content-statistics-body {
    padding: 0 15px 10px 15px;
    display: block;
    margin: 0px 15px;
}

.brand-content-statistics-body .content-date {
    font-size: 0.89rem;
    background-color: white;
    padding: 2px 4px;
    border-radius: 4px;
}

.brand-content-statistics-body .content-type {
    font-size: 0.89rem;
    background-color: cornflowerblue;
    padding: 2px 4px;
    border-radius: 4px;
    color: white;
}