@typeparam TField

@using Pds.Api.Contracts.Paging
@using Pds.Api.Contracts.Person

<a @onclick="@(() => OnSortColumn())">
    @ChildContent
    <i class="bi @(ascending ? "bi-sort-alpha-down" : "bi-sort-alpha-up") "></i>
</a>

@code {
    [Parameter]
    public EventCallback<OrderSetting<TField>> OnSortPersons { get; set; }

    [Parameter]
    public TField FieldName { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private bool ascending;

    private void OnSortColumn()
    {
        ascending = !ascending;
        var orderSettings = new OrderSetting<TField>
        {
            Ascending = ascending,
            FieldName = FieldName
        };

        OnSortPersons.InvokeAsync(orderSettings);
    }
}
