.card-header {
    margin-bottom: 15px;
}

.actions-header {
    width: 100px;
}

.id-header,
.paid-date-header {
    width: 70px;
    text-align: center;
}

.paid-date-row {
    text-align: center;
}

.paid-date-row span {
    font-size: 0.77rem;
    background-color: darkgray;
    padding: 2px 4px;
    border-radius: 4px;
    color: white;
}

.bill-cost-header {
    width: 120px;
    text-align: left;
    padding-right: 15px;
}

.bill-cost-row {
    text-align: left;
    padding-right: 15px;
}

.bill-cost-row span {
    font-weight: bold;
    font-size: 1rem;
    margin-right: 5px;
}

.bill-cost-row i {
    font-size: 0.8rem;
    padding: 2px 4px;
    border-radius: 4px;
    font-style: normal;
}

.bill-cost-row i.yellow{
    background-color: yellowgreen;
    color: black;
}

.bill-cost-row i.red{
    background-color: lightcoral;
    color: white;
}

.id-row {
    color: #777;;
}

.title-overall-info{
    font-style: italic;
    font-size: 1rem;
    background-color: green;
    padding: 2px 4px;
    border-radius: 4px;
    color: #eee;
}

.comment-body{
    min-width: 350px;
}
