@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <div class="login-panel">
            <span>
                @context.User.Identity.Name
            </span>
            <a href="#" class="btn btn-primary btn-sm" @onclick="BeginSignOut">Выйти</a>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="login-panel">
            <span>
                Привет, гость!
            </span>
            <a class="btn btn-primary btn-sm" href="authentication/login">Войти</a>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}