@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.Extensions.Options

@inject NavigationManager Navigation
@inject IOptionsSnapshot<RemoteAuthenticationOptions<ApiAuthorizationProviderOptions>> OptionsSnapshot

<AuthorizeView>
    <Authorized>
        <div class="login-panel">
            @if (context.User.IsInRole("fake"))
            {
                <span>
                    Добро пожаловать!
                </span>
            }
            else
            {
                <span>
                    @context.User.Identity.Name
                </span>
                <a href="#" class="btn btn-primary btn-sm" @onclick="BeginSignOut">Выйти</a>
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="login-panel">
            <span>
                Привет, гость!
            </span>
            <a class="btn btn-primary btn-sm" @onclick="Login">Войти</a>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginSignOut(MouseEventArgs args)
    {
        Navigation.NavigateToLogout("authentication/logout");
    }

    private void Login(MouseEventArgs args)
    {
        Navigation.NavigateToLogin(OptionsSnapshot.Get(Options.DefaultName).AuthenticationPaths.LogInPath);
    }
}