@page "/topics"
@attribute [Authorize]
@using static Pds.Web.Common.TitleExtension
@using Pds.Web.Common
@using Pds.Web.Common.Models.Topic
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Pds.Api.Contracts.Topic
@using Pds.Core.Enums
@using System.Diagnostics.CodeAnalysis
@inherits BasePageComponent

@inject IApiClient ApiClient
@inject IAccessTokenProvider TokenProvider

<Title>@WithSuffix("Темы")</Title>

<h3 class="card-header d-flex justify-content-between align-items-center">
    Список тем
    <a href="/topics/add" class="btn btn-success">Добавить</a>
</h3>
@if (topicInfo is null)
{
    <p>
        <em>Загрузка...</em>
    </p>
}
else
{
    <Sorting @bind-SortingSettings="SortingSettings"/>
    <Pagination @bind-PaginationSettings="PaginationSettings"/>
    <Filter @bind-FilterSettings="FilterSettings" Topics="topicInfo.Items"/>
    <table class="table">
        <thead>
        <tr>
            <th>Название</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var topic in Topics)
        {
            <tr>
                <td>@topic.Name</td>
                <td>
                    <Actions CurrentTopic="topic" OnTopicUpdate="RefreshTopics"/>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private GetTopicCollectionResponse topicInfo;
    private FilterSettings filterSettings;
    private SortingSettings sortingSettings;
    private PaginationSettings paginationSettings;

    public PaginationSettings PaginationSettings
    {
        get => paginationSettings ??= new();
        set
        {
            paginationSettings = value;
            StateHasChanged();
        }
    }

    public SortingSettings SortingSettings
    {
        get => sortingSettings ??= new();
        set
        {
            sortingSettings = value;
            PaginationSettings.CurrentPage = 0;
            StateHasChanged();
        }
    }

    public FilterSettings FilterSettings
    {
        get => filterSettings ??= new();
        set
        {
            filterSettings = value;
            PaginationSettings.CurrentPage = 0;
            StateHasChanged();
        }
    }

    public IEnumerable<GetTopicDto> Topics => ApplySettings(topicInfo.Items);


    protected override async Task OnInitializedAsync()
    {
        await RefreshTopics();
        PaginationSettings = new PaginationSettings();
        SortingSettings = new SortingSettings();
        FilterSettings = new FilterSettings();
    }

    private async Task RefreshTopics()
    {
        topicInfo = await GetTopicsInfo();
    }

    private IEnumerable<GetTopicDto> ApplySettings(IReadOnlyCollection<GetTopicDto> source)
    {
        var filterTopics = FilterTopics(source);
        PaginationSettings.Total = filterTopics.Count;
        var sortedTopics = SortTopics(filterTopics);
        var paginatedTopics = PaginateTopics(sortedTopics);
        return paginatedTopics;
    }
    
    private async Task<GetTopicCollectionResponse> GetTopicsInfo()
    {
        return await ApiClient.Get<GetTopicCollectionResponse>(TokenProvider, "topics");
    }

    private IEnumerable<GetTopicDto> PaginateTopics(IEnumerable<GetTopicDto> unpaginated)
    {
        return unpaginated
            .Skip(PaginationSettings.Offset)
            .Take(PaginationSettings.PageSize);
    }

    [SuppressMessage("ReSharper", "PossibleMultipleEnumeration")]
    private IEnumerable<GetTopicDto> SortTopics(IEnumerable<GetTopicDto> unsortedEnumerable)
    {
        var tempEnumerable = unsortedEnumerable;
        var isAscending = SortingSettings.SortingDirection == SortingDirection.Ascending;

        var averageRateEnumerable = tempEnumerable
            .Select(t => new
            {
                Topic = t, RateAverage =
                    t.People.Count == 0
                        ? 0
                        : t.People.Average(person => person.Rate)
            });

        var peopleCountEnumerable = tempEnumerable
            .Select(t => new
            {
                Topic = t,
                PeopleCount = t.People.Count
            });

        var sorted = (SortingSettings.SortingType switch
        {
            TopicSortingType.Name => isAscending ? tempEnumerable.OrderBy(t => t.Name) : tempEnumerable.OrderByDescending(t => t.Name),
            TopicSortingType.AverageRate => isAscending ?
                averageRateEnumerable
                    .OrderBy(t => t.RateAverage)
                    .ThenBy(t => t.Topic.Name)
                    .Select(t => t.Topic) :
                averageRateEnumerable
                    .OrderByDescending(t => t.RateAverage)
                    .ThenBy(t => t.Topic.Name)
                    .Select(t => t.Topic),
            TopicSortingType.PeopleCount => isAscending ?
                peopleCountEnumerable.OrderBy(t => t.PeopleCount)
                    .ThenBy(t => t.Topic.Name)
                    .Select(t => t.Topic) :
                peopleCountEnumerable.OrderByDescending(t => t.PeopleCount)
                    .ThenBy(t => t.Topic.Name)
                    .Select(t => t.Topic)
            ,
            _ => throw new ArgumentOutOfRangeException()
            
            });

        
        return sorted;
    }

    private IReadOnlyCollection<GetTopicDto> FilterTopics(IEnumerable<GetTopicDto> source)
    {
        var tempEnumerable = source;

        if (!string.IsNullOrEmpty(FilterSettings.NameFilter))
            tempEnumerable = tempEnumerable.Where(t => t.Name.Contains(FilterSettings.NameFilter));

        tempEnumerable = tempEnumerable
            .Where(t => FilterSettings.TopicStatusFilter
                .Any(status => status.Status == t.Status && status.IsSelected));

        if (FilterSettings.MinRateAverage != null || FilterSettings.MaxRateAverage != null)
        {
            tempEnumerable = tempEnumerable
                .Select(t => new
                {
                    Topic = t, RateAverage =
                        t.People.Count == 0
                            ? 0
                            : t.People.Average(person => person.Rate)
                })
                .Where(topicRateAverage =>
                    (FilterSettings.MinRateAverage == null
                     || topicRateAverage.RateAverage >= FilterSettings.MinRateAverage)
                    && (FilterSettings.MaxRateAverage == null
                        || topicRateAverage.RateAverage <= FilterSettings.MaxRateAverage))
                .Select(topicRateAverage => topicRateAverage.Topic);
        }

        if (FilterSettings.MinPeopleCount != null || FilterSettings.MaxPeopleCount != null)
        {
            tempEnumerable = tempEnumerable
                .Select(t => new {Topic = t, PeopleCount = t.People.Count})
                .Where(topicPeopleCount =>
                    (FilterSettings.MinPeopleCount == null
                     || topicPeopleCount.PeopleCount >= FilterSettings.MinPeopleCount)
                    && (FilterSettings.MaxPeopleCount == null
                        || topicPeopleCount.PeopleCount <= FilterSettings.MaxPeopleCount))
                .Select(topicPeopleCount => topicPeopleCount.Topic);
        }

        return tempEnumerable.ToList();
    }

}