@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Pds.Web.Common
@using Pds.Web.Models.Person
@using Microsoft.AspNetCore.Components
@using AutoMapper
@using Pds.Api.Contracts

@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject IAccessTokenProvider TokenProvider
@inject IApiClient ApiClient
@inject IMapper Mapper

<div class="filter">
    <div class="form-group no-wrap">
        <SearchComponent Search="SearchOnChanged" />
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<string> OnSearch { get; set; }
    private FilterSettings filterSettings { get; set; }
    private List<BrandDto> brands { get; set; }

    private void SearchOnChanged(string searchText)
    {
        OnSearch.InvokeAsync(searchText);
    }
}