.page-container {
    padding-top: 15px;
}

.info-item {
    margin-bottom: 15px;
}

.info-item .info-title {
    background-color: lightgray;
    padding: 5px 15px;
    border-radius: 5px 5px 0 0;
    font-size: 0.8rem;
    font-style: italic;
    border-bottom: 6px double white;
}

.info-item .info-body {
    background-color: aliceblue;                      
    padding: 10px 15px 10px 15px;
    border-radius: 0 0 5px 5px;
    margin-bottom: 10px;
}

.contact-established {
    color: rgba(0, 100, 0, 0.6);
}

.gift-type {
    font-size: 0.77rem;
    background-color: darkgray;
    padding: 2px 4px;
    border-radius: 4px;
    color: white;
}

.status-new .info-item .info-body {
    background-color: lightpink;
}

.status-raffled .info-item .info-body {
    background-color: lightblue;
}

.status-waiting .info-item .info-body {
    background-color: lightgreen;
}

.status-strange .info-item .info-body {
    background-color: #fecd82;
}

.status-completed .info-item .info-body {
    background-color: gainsboro;
}