version: '3.8'

services:

  database:
    container_name: pds_database
    image: mcr.microsoft.com/mssql/server:2022-latest
    ports:
      - 1433:1433
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=123qweQWE
    user: root
    volumes:
     - database-volume:/var/opt/mssql/data

  api:
    container_name: pds_api
    depends_on:
      - database
    image: pds_api
    ports:
      - 5002:80
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - AllowedOrigins__0=http://localhost:5000
      - Auth0__Enabled=false
      - ConnectionStrings__DefaultConnection=Server=database;Initial Catalog=pds;User ID=sa;Password=123qweQWE;MultipleActiveResultSets=False; Trust Server Certificate=True
    build:
      context: ../
      dockerfile: Pds.Api/Dockerfile

  blazor:
    container_name: pds_web
    depends_on:
      - api
    image: pds_web
    ports:
      - 5000:80
    environment:
      - ENVIRONMENT=DockerDevelopment
      - NGINX_ENVSUBST_OUTPUT_DIR=/etc/nginx
    build:
      context: ../
      dockerfile: Pds.Web/Dockerfile

volumes:
  database-volume:
    external: false