@namespace Pds.Web

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <p>Восстанавливаю сессию, погодь...</p>
            </Authorizing>
            <NotAuthorized>
                <h1>Залогинься!</h1>
                <p>И будет тебе счастье.</p>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Опачки! Нет такой страницы.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>


