.card-header {
    margin-bottom: 15px;
}

.actions-header {
    width: 100px;
}

.client-name-header{
    width: 200px;
}

.contents{
    font-size: 0.75rem;
    margin-right: 5px;
    color: #888;
    font-weight: bold;
}

.date-style {
    font-size: 0.75rem;
    margin-right: 5px;
    color: #888;
    font-style: italic;
}

.default-brand {
    background-color: #6a6a6a;
    padding: 0px 8px;
    border-radius: 4px;
    color: white;
    display: inline-block;
}
