
    <div class="search-position">
        <div class="d-flex position-relative">
            <input class="form-control " @bind-value="SearchText" @bind-value:event="oninput" placeholder="Будем искать"/>
            <span class="searchcleaner position-absolute" @onclick="OnClean">&times;</span> 
        </div>
        <div class="search-button-show">
            <button class="btn btn-primary search-btn" @onclick="OnSearch">Найти</button>
        </div>      
    </div>


@code {
    private string searchText;
    private string SearchText
    {
        get { return searchText; }
        set
        {
            searchText = value;
            OnSearch();
        }
    }

    [CascadingParameter]
    public bool IsAction { get; set; }

    [Parameter]
    public EventCallback<string> Search { get; set; }

    protected override void OnParametersSet()
    {
        if(IsAction)
            searchText = string.Empty;
    }

    private void OnSearch()
    {
        Console.WriteLine(SearchText);
        Search.InvokeAsync(SearchText);
    }

    private void OnClean()
    {
        SearchText = string.Empty;
        OnSearch();
    }
}