.search-position {
    display: flex;
    justify-content: flex-end;
}

.search-btn {
    margin-left: 10px;
    color: #fff;
    background-color: #1b6ec2;
    height: 38px;
    position:relative
}

.searchcleaner{
    text-align:center;
    align-items:center;
    position:absolute;
    top:8px;
    right:10px;
}
.searchcleaner:hover {
    cursor:pointer;
}
