.card-header {
    margin-bottom: 15px;
}

.actions-header {
    width: 100px;
}

.release-date-header {
    width: 95px;
    text-align: center;
}

.release-date-row {
    text-align: center;
}

.release-date-row span {
    font-size: 0.89rem;
    background-color: white;
    padding: 2px 4px;
    border-radius: 4px;
}

.bill-cost-header {
    width: 200px;
    text-align: right;
    padding-right: 15px;
}

.bill-cost-row {
    text-align: right;
    padding-right: 15px;
}

.bill-cost-row span {
    font-weight: bold;
    font-size: 1rem;
    margin-left: 5px;
}

.bill-cost-row span.free-cost{
    font-weight: bold;
    font-style: italic;
    font-size: 0.7rem;
}

.bill-cost-row i {
    font-size: 0.8rem;
    padding: 2px 4px;
    border-radius: 4px;
    font-style: normal;
}

.bill-cost-row i.white {
    background-color: white;
    color: black;
}

.bill-cost-row i.red {
    background-color: lightcoral;
    color: white;
}
.title-row a {
    color: #212529;
    text-decoration: none;
}
.title-row a:hover {
    border-bottom: 2px dotted black;
}

.actions-row {
    border-left: 2px dotted white;
}

.active-not-paid {
    background-color: lightpink;
}

.free{
    background-color: lightblue;
}

.active-paid {
    background-color: lightgreen;
}

.archived-not-paid {
    background-color: orangered;
}

.archived-free,
.archived-paid,
.archived-free a,
.archived-paid a {
    background-color: gainsboro;
    color: #bbb !important;
}

.archived-free:hover,
.archived-paid:hover,
.archived-free:hover a,
.archived-paid:hover a {
    color: black  !important;
}

