.card-header {
    margin-bottom: 15px;
}

.form-group {
     margin-bottom: 15px;
 }

::deep input.bill-cost{
    width: 120px;
    display: inline-block;
    margin-left: 10px;
}

.btn-check:checked + .btn-secondary {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}

.label-required::after{
    content: "*";
    color: red;
    margin-left: 3px;
}