@using Pds.Core.Enums
@using Pds.Web.Common
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Pds.Api.Contracts.Client
@using Pds.Api.Contracts.Settings

@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject IApiClient ApiClient
@inject IAccessTokenProvider TokenProvider

<div class="panel panel-default actions-panel">
    <button title="Редактировать" class="btn btn-primary btn-sm" @onclick="OnEdit">
        <i class="bi bi-pencil-fill"></i>
    </button>
</div>

@code {
    [Parameter]
    public SettingDto CurrentSetting { get; set; }

    private void OnEdit()
    {
        NavigationManager.NavigateTo($"/settings/{CurrentSetting.Id}/edit");
    }
}