.card-header {
    margin-bottom: 15px;
}

.form-group {
     margin-bottom: 15px;
 }

::deep input.bill-value{
    width: 100px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

::deep input.bill-date{
    width: 150px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

::deep input.pay-date{
     width: 150px;
     display: inline-block;
     margin-left: 10px;
     margin-right: 10px;
 }