.paging-position{
    justify-content: center;
    margin-bottom: 0rem;
}

.btn-paging {
    margin-right: 4px;
}

.page-size-selector {
    margin-left: 10px;
    color: #fff;
    background-color: #1b6ec2;
    height: 31px;
    padding-left: 10px;
}

.paging-item {
    color: #1b6ec2;
    background-color: #fff;
    cursor: pointer;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1b6ec2;
}

.col{
    text-align: center;
}

.paging-info {
    font-style: italic;
    font-size: 0.8rem;
    color: gray;
}