.card-header {
    margin-bottom: 15px;
}

.actions-header {
    width: 100px;
}

.client-name-header{
    width: 200px;
}

.client-name-row .contents{
    font-size: 0.75rem;
    margin-left: 5px;
    color: #888;
    font-weight: bold;
}

.client-name-row {
    padding-left: 15px;
}

.normal {
    background-color: aliceblue;
}

.actions-row {
    border-left: 2px dotted rgb(222, 226, 230);
}
