@page "/"
@using static Pds.Web.Common.TitleExtension 
<Title>@WithSuffix("Главная")</Title>

<h1>Привет!</h1>
<p>
  Bloggers CMS - система управления контентом, заточенная под работу с youtube-блогерами.
</p><p>
  Скоро тут будет функциональный дашборд 😊
</p>