@page "/"
@using static Pds.Web.Common.TitleExtension 
@using static Pds.Web.Common.Constants

<Title>@WithSuffix("Главная")</Title>

<h1>Привет!</h1>
<div>
  @AppName - система управления контентом, разработанная специально под задачи блогеров.
</div>
<div>
  Скоро тут будет функциональный дашборд 😊
</div>