<div class="form-group @AddFormClass">
    <label>@Label</label>
    @InputFragment
</div>

@code
{
    [Parameter] public string Label { get; set; }
    [Parameter] public RenderFragment InputFragment { get; set; }
    [Parameter] public string AddFormClass { get; set; } = null;
}