@page "/persons/add"
@inherits CreateBase
@attribute [Authorize]
@*<h1>Добавление персоны</h1>

    <EditForm EditContext="@editContext" OnSubmit="@HandleSubmit">
        <div class="form-group">
            <label for="firstName">Имя</label>
            <InputText class="form-control" id="firstName" @bind-Value="person.FirstName"/>
        </div>

        <div class="form-group">
            <label for="lastName">Фамилия</label>
            <InputText class="form-control" id="lastName" @bind-Value="person.LastName"/>
        </div>

        <div class="form-group">
            <label for="thirdName">Отчество</label>
            <InputText class="form-control" id="thirdName" @bind-Value="person.ThirdName"/>
        </div>

        <div class="form-group">
            <label>Адрес</label>
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <InputText class="form-control mb-2" id="country" @bind-Value="person.Country" placeholder="Страна"/>
                </div>
                <div class="col-auto">
                    <InputText class="form-control mb-2" id="city" @bind-Value="person.City" placeholder="Город"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="information">Дополнительная информация</label>
            <InputTextArea class="form-control" id="information" @bind-Value="person.Information" rows="3"/>
        </div>

        <div class="form-group">
            <div class="form-inline">
                Рейтинг: <InputNumber style="width: 80px;" class="form-control" max="100" min="0" @bind-Value="person.Rate" placeholder="Рейтинг"/>
            </div>
        </div>

        <div class="form-group">
            <label style="margin-right: 20px;">Ссылки</label>
            @foreach (var resource in person.Resources)
            {
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <InputText class="form-control mb-2" id="country" @bind-Value="resource.Name" required="required" placeholder="Название"/>
                    </div>
                    <div class="col-auto">
                        <InputText class="form-control mb-2" id="city" @bind-Value="resource.Url" required="required" placeholder="Ссылка"/>
                    </div>
                    <div class="col-auto">
                        <div @onclick="() => RemoveResource(resource)" class="btn btn-danger btn-sm mb-2">Удалить ссылку</div>
                    </div>
                </div>
            }

            <div @onclick="AddResource" class="btn btn-success btn-sm">Добавить ссылку</div>
        </div>

        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <div class="form-group">
            <button type="submit" class="btn btn-success">Создать персону</button>
        </div>
    </EditForm>*@

<FormEditComponent EditContext="editContext"
                   HandleSubmit="HandleSubmit"
                   SubmitLabel="Создать персону">
    <TitleFragment>
        Добавление персоны
    </TitleFragment>
    <BodyFragment>
        <FormRowComponent>
            <RowFragment>
                <FormEditInputComponent Label="Имя *" AddFormClass="col-4">
                    <InputFragment>
                        <InputText class="form-control" @bind-Value="person.FirstName" placeholder="Иван" />
                    </InputFragment>
                </FormEditInputComponent>
                <FormEditInputComponent Label="Фамилия *" AddFormClass="col-4">
                    <InputFragment>
                        <InputText class="form-control" @bind-Value="person.LastName" placeholder="Иванов" />
                    </InputFragment>
                </FormEditInputComponent>
                <FormEditInputComponent Label="Отчество" AddFormClass="col-4">
                    <InputFragment>
                        <InputText class="form-control" @bind-Value="person.ThirdName" placeholder="Иванович" />
                    </InputFragment>
                </FormEditInputComponent>
            </RowFragment>
        </FormRowComponent>
        <FormRowComponent>
            <RowFragment>
                <FormEditInputComponent Label="Страна" AddFormClass="col-auto">
                    <InputFragment>
                        <InputText class="form-control" @bind-Value="person.Country" placeholder="Страна" />
                    </InputFragment>
                </FormEditInputComponent>
                <FormEditInputComponent Label="Город" AddFormClass="col-auto">
                    <InputFragment>
                        <InputText class="form-control" @bind-Value="person.City" placeholder="Город" />
                    </InputFragment>
                </FormEditInputComponent>
            </RowFragment>
        </FormRowComponent>
        <FormRowComponent>
            <RowFragment>
                <FormEditInputComponent Label="Дополнительная информация" AddFormClass="col-6">
                    <InputFragment>
                        <InputTextArea class="form-control" @bind-Value="person.Information" rows="3" />
                    </InputFragment>
                </FormEditInputComponent>
            </RowFragment>
        </FormRowComponent>
        <FormRowComponent>
            <RowFragment>
                <FormEditInputComponent Label="Рейтинг" AddFormClass="col-1">
                    <InputFragment>
                        <InputNumber class="form-control" max="100" min="0" @bind-Value="person.Rate" placeholder="Рейтинг" />
                    </InputFragment>
                </FormEditInputComponent>
            </RowFragment>
        </FormRowComponent>

        <div class="form-group">
            <label class="mr-5">Ссылки</label>
            @foreach (var resource in person.Resources)
            {
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <InputText class="form-control mb-2" id="country" @bind-Value="resource.Name" required="required" placeholder="Название" />
                    </div>
                    <div class="col-auto">
                        <InputText class="form-control mb-2" id="city" @bind-Value="resource.Url" required="required" placeholder="Ссылка" />
                    </div>
                    <div class="col-auto">
                        <button @onclick="() => RemoveResource(resource)" class="btn btn-danger btn-sm mb-2">Удалить ссылку</button>
                    </div>
                </div>
            }
            <button @onclick="AddResource" class="btn btn-success btn-sm">Добавить ссылку</button>
        </div>
    </BodyFragment>
</FormEditComponent>