@*@page "/persons"
@inherits PersonsList

<FormTableComponent ItemsCollection="personsInfo">
    <TableTitleFragment>
        Список персон
    </TableTitleFragment>
    <TableTitleButtonFragment>
        <div class="col">
            <a href="/persons/add" class="btn btn-success">Добавить персону</a>
        </div>
    </TableTitleButtonFragment>
    <PagingFragment>
        <PagingComponent PageSizeList="pageSizesList" TotalItems="personsInfo.Total" Radius="2" Pagination="Pagination" />
    </PagingFragment>
    <TableHeaderFragment>
        <th scope="col">Полное имя</th>
        <th scope="col">Локация</th>
        <th scope="col">Информация</th>
        <th scope="col">Ссылки</th>
    </TableHeaderFragment>
    <TableBodyFragment>
        <TableBodyComponent ItemsCollection="personsInfo.Items">
            <ItemFragment Context="context">
                <RowPersonsComponent Person="context" />
            </ItemFragment>
        </TableBodyComponent>
    </TableBodyFragment>
</FormTableComponent>*@