@using Pds.Web.Common
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Pds.Api.Contracts.Person
@using Pds.Core.Enums

@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject IApiClient ApiClient
@inject IAccessTokenProvider TokenProvider

<div class="panel panel-default actions-panel">
    @if (CurrentPerson.Status == PersonStatus.Active)
    {
        <button title="Редактировать" class="btn btn-primary" @onclick="OnEdit">
            <i class="bi bi-pencil-fill"></i>
            Редактировать
        </button>
    }

    @if (CurrentPerson.Status == PersonStatus.Archived)
    {
        <button title="Разархивировать" class="btn btn-warning" @onclick="OnUnarchiveAsync">
            <i class="bi bi-patch-plus-fill"></i>
            Разархивировать
        </button>
    }

    @if (CurrentPerson.Status == PersonStatus.Active)
    {
        <button title="Архивировать" class="btn btn-warning" @onclick="OnArchiveAsync">
            <i class="bi bi-archive-fill"></i>
            Архивировать
        </button>
    }

    @if (CurrentPerson.Status == PersonStatus.Active)
    {
        <button title="Удалить" class="btn btn-danger" @onclick="OnDeleteAsync">
            <i class="bi bi-trash-fill"></i>
            Удалить
        </button>
    }
</div>

@code {

    [Parameter]
    public EventCallback OnPersonUpdate { get; set; }
    [Parameter]
    public GetPersonResponse CurrentPerson { get; set; }

    private void OnEdit()
    {
        NavigationManager.NavigateTo($"/persons/{CurrentPerson.Id}/edit");
    }

    private async Task OnDeleteAsync()
    {
        var confirmed = await JsRuntime.InvokeAsync<bool>("confirm", $"Уверены, что хотите удалить \"{CurrentPerson.FullName}\"?");
        if (confirmed)
        {
            await ApiClient.Delete<object>(TokenProvider, $"persons/{CurrentPerson.Id}");
            await OnPersonUpdate.InvokeAsync(); // Update UI
        }
    }

    private async Task OnArchiveAsync()
    {
        var confirmed = await JsRuntime.InvokeAsync<bool>("confirm", $"Уверены, что хотите архивировать \"{CurrentPerson.FullName}\"?");
        if (confirmed)
        {
            await ApiClient.Put<object, object>(TokenProvider, $"persons/{CurrentPerson.Id}/archive", null);
            await OnPersonUpdate.InvokeAsync(); // Update UI
        }
    }

    private async Task OnUnarchiveAsync()
    {
        await ApiClient.Put<object, object>(TokenProvider, $"persons/{CurrentPerson.Id}/unarchive", null);
        await OnPersonUpdate.InvokeAsync(); // Update UI
    }

}