@using Pds.Core.Enums
@using Pds.Web.Common
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Pds.Api.Contracts.Controllers.Bill
@using Pds.Core.Extensions

@namespace Pds.Web.Pages.Bills.Components

@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject IApiClient ApiClient
@inject IAccessTokenProvider TokenProvider

<div class="panel panel-default actions-panel">

    @if (CurrentBill.Status == BillStatus.Active)
    {
        <button title="Редактировать" class="btn btn-primary btn-sm" @onclick="OnEdit">
            <i class="bi bi-pencil-fill"></i>
        </button>
    }

    @if (CurrentBill.Status == BillStatus.Archived)
    {
        <button title="Разархивировать" class="btn btn-success btn-sm" @onclick="OnUnarchiveAsync">
            <i class="bi bi-patch-plus-fill"></i>
        </button>
    }

    @if (CurrentBill.Status == BillStatus.Active)
    {
        <button title="Архивировать" class="btn btn-warning btn-sm" @onclick="OnArchiveAsync">
            <i class="bi bi-archive-fill"></i>
        </button>
    }

    @if (CurrentBill.Type != BillType.Content && CurrentBill.Status == BillStatus.Active)
    {
        <button title="Удалить" class="btn btn-danger btn-sm" @onclick="OnDelete">
            <i class="bi bi-trash-fill"></i>
        </button>
    }
</div>

@code {
    [Parameter]
    public EventCallback OnActionsUpdate { get; set; }
    [Parameter]
    public IActionsBill CurrentBill { get; set; }

    private void OnEdit()
    {
        NavigationManager.NavigateTo($"/bills/{CurrentBill.Id}/edit");
    }

    private async Task OnDelete()
    {
        var confirmed = await JsRuntime.InvokeAsync<bool>("confirm", $"Уверены, что хотите удалить {CurrentBill.Id}?");
        if (confirmed)
        {
            await ApiClient.Delete<object>(TokenProvider, $"bills/{CurrentBill.Id}");
            await OnActionsUpdate.InvokeAsync(); // Update UI
        }
    }
    
    private async Task OnArchiveAsync()
    {
        var confirmed = await JsRuntime.InvokeAsync<bool>("confirm", $"Уверены, что хотите архивировать {CurrentBill.Id.ToShortString()}?");
        if (confirmed)
        {
            await ApiClient.Put<object, object>(TokenProvider, $"bills/{CurrentBill.Id}/archive", null);
            await OnActionsUpdate.InvokeAsync(); // Update UI
        }
    }

    private async Task OnUnarchiveAsync()
    {
        await ApiClient.Put<object, object>(TokenProvider, $"bills/{CurrentBill.Id}/unarchive", null);
        await OnActionsUpdate.InvokeAsync(); // Update UI
    }
}